@import '../../styles/variables.scss';

.btn {
  @apply flex items-center justify-center px-4 font-semibold transition-all;
  &:hover {
    filter: brightness(95%);
  }

  // Disabled
  &:disabled {
    background-color: hsl(var(--btn-bg-secondary), 30%);
    color: hsl(var(--btn-bg-secondary));
    pointer-events: none;
  }

  // Primary
  &--primary {
    @apply text-white;
    background-color: hsl(var(--btn-bg-primary));

    // Variant soft primary
    &.btn--soft {
      background-color: hsl(var(--btn-bg-primary), 10%);
      color: hsl(var(--btn-bg-primary));
      &:hover {
        background-color: hsl(var(--btn-bg-primary), 20%);
      }
    }

    // Variant outline primary
    &.btn--outline {
      background-color: transparent;
      border: 1px solid hsl(var(--btn-bg-primary));
      color: hsl(var(--btn-bg-primary));
      &:hover {
        background-color: hsl(var(--btn-bg-primary), 5%);
      }
    }
  }

  // Secondary
  &--secondary {
    background-color: hsl(var(--btn-bg-secondary), 10%);
    &:hover {
      filter: brightness(65%);
    }

    // Variant outline secondary
    &.btn--outline {
      background-color: transparent;
      border: 1px solid hsl(var(--btn-bg-secondary));
      &:hover {
        background-color: hsl(var(--btn-bg-secondary), 5%);
      }
    }
  }

  // Destructive
  &--destructive {
    @apply text-white;
    background-color: hsl(var(--btn-bg-destructive));

    // Variant soft destructive
    &.btn--soft {
      background-color: hsl(var(--btn-bg-destructive), 10%);
      color: hsl(var(--btn-bg-destructive));
      &:hover {
        background-color: hsl(var(--btn-bg-destructive), 20%);
      }
    }

    // Variant outline destructive
    &.btn--outline {
      background-color: transparent;
      border: 1px solid hsl(var(--btn-bg-destructive));
      color: hsl(var(--btn-bg-destructive));
      &:hover {
        background-color: hsl(var(--btn-bg-destructive), 5%);
      }
    }
  }

  // Size
  &--small {
    @apply h-8;
    border-radius: var(--rounded-small);
  }

  &--medium {
    @apply h-10;
    border-radius: var(--rounded-medium);
  }

  &--large {
    @apply h-12;
    border-radius: var(--rounded-large);
  }
}
