$black: #000;
$white: #fff;

$gray50: #fafafa;
$gray100: #f4f4f5;
$gray200: #e4e4e7;
$gray300: #d4d4d8;
$gray400: #a1a1a9;
$gray500: #717179;
$gray600: #52525a;
$gray700: #3f3f45;
$gray800: #27272a;
$gray900: #18181b;
$gray950: #09090b;

$red50: #fcf2f2;
$red100: #f9e3e2;
$red200: #f6cccb;
$red300: #f0a9a7;
$red400: #e77975;
$red500: #dd524c;
$red600: #ca3a31;
$red700: #aa2e26;
$red800: #8c2822;
$red900: #752522;
$red950: #3f0f0d;

$green50: #ecfdf5;
$green100: #d1fae5;
$green200: #a7f3d0;
$green300: #6ee7b7;
$green400: #34d399;
$green500: #10b981;
$green600: #059669;
$green700: #047857;
$green800: #065f46;
$green900: #064e3b;
$green950: #022c22;

$orange50: #fef7ee;
$orange100: #fceed8;
$orange200: #f8d8b0;
$orange300: #f3bd7f;
$orange400: #ed974f;
$orange500: #e87b35;
$orange600: #d9622b;
$orange700: #b34a22;
$orange800: #8e3b1f;
$orange900: #73321b;
$orange950: #3d170b;

$blue50: #eff6ff;
$blue100: #dbeafe;
$blue200: #bfdbfe;
$blue300: #93c5fd;
$blue400: #60a5fa;
$blue500: #3b82f6;
$blue600: #2563eb;
$blue700: #1d4ed8;
$blue800: #1e40af;
$blue900: #1e3a8a;
$blue950: #172554;
