:root {
  // Radius
  --rounded-small: 4px;
  --rounded-medium: 6px;
  --rounded-large: 8px;

  // Token Button
  --btn-bg-primary: 221, 83%, 53%; //#2563eb
  --btn-bg-secondary: 240, 5%, 65%; //#a1a1aa
  --btn-bg-destructive: 0, 72%, 51%; //#dc2626;
}
